<ion-scroll direction="xy" height="1000px">
  <section class="templateView" ng-init="postResults">
    <nav class="liveNav">
      <div ng-class="{'liveLink': favActive}">
        <a href="#" ng-click="toggleFav()"><span>Live</span</a>
      </div>
      <div ng-class="{'favLink': liveActive}">
        <a ui-sref="favorites" href="templates/favorites.html" ng-click="toggleLive()"><span>Favorites</span></a>
      </div>
    </nav>
    <h3>{{eventName}}</h3>
    <button class="button button-icon ion-compose postModalButton" ng-click="showModal()">Create Post</button>
    <div ng-repeat="postResult in postResults">
      <div class="postContainer">
        <div>
          <p>
            {{postResult.body}}
          </p>
          <h6>
            {{postResult.name}}
          </h6>
        </div>
      <button type="button" class="button button-icon ion-star custom-icon" ng-class="{'activeFavorite':$index == isActive}" ng-click="favoritesButton({{postResult}}, $index)"></button>
      </div>
    </div>
  </section>
</ion-scroll>
